<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="google.architecture.sort">

    <application>
        <activity android:name=".ActivitySort" />
        <activity android:name=".activity.GoodsInfoActivity"></activity>
    </application>

</manifest>